//$visual-grid: true;
//$visual-grid-color: red;
//$visual-grid-index: front;
//$visual-grid-opacity: 0.5;
 


@import "bourbon";
@import "neat";
@import "neat-helpers";

@import "normalize";
@import "nk";
@import "imagelightbox";



@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

// Change the grid settings
//$column: 90px;
//$gutter: 30px;
$grid-columns: 12;
$max-width: em(1044px, 18);


// Extra small screen / phone
//$screen-xs-min: 480px;

// Small screen / tablet
//$screen-sm-min: 768px;

// Medium screen / desktop
//$screen-md-min: 992px;

// Large screen / wide desktop
//$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
//$screen-xs-max: ($screen-sm-min - 1);
//$screen-sm-max: ($screen-md-min - 1);
//$screen-md-max: ($screen-lg-min - 1);
$mobile_portait: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 480px);
//$mobile: new-breakpoint(max-width $screen-xs-min);
$tablet: new-breakpoint(max-width 768px);



/*
 Defaults
 */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display:block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption,
.gallery-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin:0;
  max-width: 98.5%;
  padding:0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  line-height: 28px;
  margin: 10px 0 0;
  padding: 0;
}

/*-----------------------------------------------------------------------------------
02. Body Defaults
-----------------------------------------------------------------------------------*/

html,
body {
  min-height: 100%;
}

body {
  font: 300 18px/24px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-animation: fadein 0.1s 0s ease-out;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media \0screen {
  img { 
    width: auto; /* for ie 8 */
  }
}

a,
a img {
  text-decoration: none;
  outline: none;
}

a {
  color: #675e11;
  -webkit-transition: 0.2s color ease-in-out;
    -moz-transition: 0.2s color ease-in-out;
      -o-transition: 0.2s color ease-in-out;
        transition: 0.2s color ease-in-out;
}

p {
  font-size: 1em;
  line-height: 2.0286em;
  margin: 1.214em 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  color: #474747;
}

h1,h2,h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
}

h1 {
  font-size: 2.5714em;
  line-height: 1.4167em;
  margin: 0.708em 0;
}

h2 {
  font-size: 1.4286em;
  line-height: 1.5455em;
  margin: 0.773em 0;
}

h3 {
  font-size: 1.2857em;
    line-height: 1.7em;
  margin: 0.85em 0;
   i {
    //font-size: 0.8em;
    top: -2px;
    position: relative;
  }
}

h4 {
  font-size: 1.1429em;;
  line-height: 1.8889em;
  margin: 0.944em 0;
}

h5 {
  font-size: 1em;
  line-height: 2.125em;
  margin: 1.107em 0;
}

h6 {
  font-size: 0.875em;
  line-height: 2.4286em;
  margin: 1em 0;
}

li {
  line-height: 1.75em;
}

.center {
  text-align: center;
}

.menu {
  overflow: hidden;
  background: #fff;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
     
      list-style: none;
    }
    a {
      display: block;
      padding: 1em 1em;
      font-size: 1.2em;
    }
  }
}

.header {
  @include outer-container;
  text-align: center;
  h1, h2, h3 {
    @include span-columns(12);
    @include omega();
    margin-top: 0.5em;
    font-weight: 300;
  }
  h1, h3 {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0.5em;
  }
  img {
    @include span-columns(10);
    @include shift(1);
    @include omega();
  }
 
}

.container {
  width: 95%;
  margin: 0 auto;
}

section {
  @include outer-container;
}
section.timeline {
  article { 
    @include span-columns(6);
  }
}

section.main {
  article { @include span-columns(12); @include omega(); }
  p:first-child {
    margin-top: 0;
  }
}

section.image-gallery {
  /*.container {
    width: 100%;
    margin: 0 auto;
  }*/
  a { 
    @include span-columns(2.9);
    //@include shift(0.25);
    padding-bottom: 1em;
  }
  a.o1 {
    //clear: left;
  }
  .wk { 
    //@include span-columns(2);  
  }
  //.wk1 {  @include shift(1); }
}


section.features-and-suroundings {
  aside { @include span-columns(4); }
  article { @include span-columns(8); @include omega(); }
}

section.vve {
  h3 {
    text-transform: none;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  background: #fff;
  overflow: hidden;
  article {
    @include outer-container;
  }

}

@include media($tablet) {

  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@include media($mobile) {
  body {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
  }

  .menu ul a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .header h1 {
    font-size: 2em;
  }
  .header h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1.1em;
    margin-bottom: 0.4em;
  }

  .footer article,
  section aside,
  section article,
  section.features-and-suroundings aside,
  section.features-and-suroundings article,
  section.image-gallery a {

    @include span-columns(10);
    @include shift(1);
    @include omega();
    
    width: 82.94039% !important;
  }
  section > h3 {
    @include shift(1);
  }
  .fb-like,
  .fb_iframe_widget {
    width: 100% !important;
  }
}

